@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Plese Flip a Coin</h3>
</div>
<form method="post">
    <button class="text-center" type="submit">Flip</button>
</form>
