@model COIN_FLipping.Models.CoinToss
<form asp-action="Toss">
    <div class="text-center">
    <div>
        <lable asp-for="Name">Coin Name</lable>
        <input asp-for="Name"/>
    </div>
    <input type="submit" value="Toss"/>
    </div>
</form>