@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index">
    <button>Click Me !</button>

</form>

<label>The Coin Side Is @ViewBag.a</label></br>

<label>The Coin An Other Side Is @ViewBag.b</label>