@model ContactManagerProject.Models.Country

<style>
    .insertimg{
        display:none;
    }
</style>

@{
    ViewData["Title"] = "Create";
}

<h1 class="create"><i><u>Add Countries Details</u></i></h1>


<hr />
<div class="row">
    <div class="col-md-4 Details">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="Info">
                <div class="form-group textshadow">
                    <label asp-for="CountryName" class="control-label"></label>
                    <input asp-for="CountryName" placeholder="India" class="form-control" />
                    <span asp-validation-for="CountryName" class="text-danger"></span>
                </div>
                <div class="form-group textshadow">
                    <label asp-for="ZipCodeStart" class="control-label"></label>
                    <input asp-for="ZipCodeStart" placeholder="154" class="form-control" />
                    <span asp-validation-for="ZipCodeStart" class="text-danger"></span>
                </div>
                <div class="form-group textshadow">
                    <label asp-for="ZipCodeEnd" class="control-label"></label>
                    <input asp-for="ZipCodeEnd" placeholder="458" class="form-control" />
                    <span asp-validation-for="ZipCodeEnd" class="text-danger"></span>
                </div>
                <div class="form-group form-check textshadow">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
                <div class="form-group Submit">
                    <input type="submit" value="Create" class="btn btn-primary Jimin" />
                </div>
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
