<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@ViewData["Title"] - ContactManager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MenuBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ContactManagerProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <div class="container-fluid">
                
                <a class="navbar-brand Mytitle" asp-area="" asp-controller="Home" asp-action="Index"><h1>ContactManager</h1></a>

                

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                              

                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.Identity.Name == "Anusha")
                        {

                            <ul class="navbar-nav flex-grow-1">

                                <li class="nav-item">
                                    <a class="nav-link text-dark MyStyle" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle MyStyle" asp-area="" data-toggle="dropdown">Manage</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-dark design" asp-area="" asp-controller="UserDetails" asp-action="Index">UserDetails</a></li>
                                        <li><a class="nav-link text-dark design" asp-area="" asp-controller="Countries" asp-action="Index">Countries</a></li>
                                        <li> <a class="nav-link text-dark design" asp-area="" asp-controller="States" asp-action="Index">States</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark MyStyle" asp-area="" asp-controller="AddressBooks" asp-action="Index">AddressBook</a>
                                </li>
                            </ul>


                        }
                        else 
                        {
                            
                                <li class="nav-item ">
                                    <a class="nav-link text-dark MyStyle" asp-area="" asp-controller="Logins" asp-action="GetbyUser">AddressBook</a>
                                </li>
                            
                        }
                    }

                     </ul>
                </div>
                
                    <Span class="nav-item"><partial name="_LogInOut"/></Span>
                
                
            </div>
            
             
        </nav>

       

    </header>
    <div class="insertimg">
        <img src="~/css/images/display.jpg" width="2378px" height="1070px">
    </div>

    @*<div class="imagedisplay">
 <img src="~/css/images/display.jpg" width="2378px" height="1070px">
  <div><h6 class="display-4 entry ">Welcome @User.Identity.Name</h6></div>
  <div class="bottom-left">Bottom Left</div>
  <div class="top-left">Top Left</div>
  <div class="top-right">Top Right</div>
  <div class="bottom-right">Bottom Right</div>
  <div class="centered">Centered</div>
</div>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ContactManagerProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/js/JavaScript.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

