@if (User.Identity.IsAuthenticated)
{
    <form method="post" class="form-inline " asp-action="Logout" asp-controller="Logins">
       
        <button type="submit" class="m-lg-2 btn btn-link bg-primary text-white logoutbutton">Logout</button>

    </form>
}
else
{
    
         <button class="bg-primary loginbutton"><a class="btn btn-link text-white " asp-action="Index" asp-controller="Logins">Login</a></button>
    
        <button class="bg-primary registorbutton"><a class="btn btn-link text-white " asp-area="" asp-controller="UserDetails" asp-action="Create">Registration</a></button>

       
    
    
}