@{
    ViewData["Title"] = "Home Page";
   
}
@model Flipping_Coin.Models.Coin;


<div>
    <form asp-action="Index">
        <h2>Flipping Coin</h2>
        <br />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Side</th>
                    <th>Count</th>
                </tr>
                <tr>
                    <td>Up Side</td>
                    <td><input asp-for="facing_up" value="@Model.facing_up" class="_output_display"/></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Down Side</td>
                    <td><input asp-for="facing_down" value="@Model.facing_down" class="_output_display"/></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Total Count</td>
                    <td></td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="_btn"></td>
                    <td class="_btn"><input class="btn btn-success" type="submit" value="Flip"/></td>
                </tr>
            </thead>
        </table>
        
    </form>

</div>

