@model ContactManagerProject.Models.UserDetail

<style>
    .insertimg{
        display:none;
    }
</style>

@{
    ViewData["Title"] = "Create";
}

<h1 class="create"><i><u>Add New User</u></i></h1>



<div class="row">
    <div class="col-md-4 Details">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="Info">
                <div class="form-group textshadow">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" placeholder="Mark" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group textshadow">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" placeholder="Mark@123" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group textshadow">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" placeholder="Mark" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group textshadow">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" placeholder="Cherry " class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group textshadow">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" placeholder="Mark123@gmail.com" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group textshadow">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" placeholder="0123456789" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group form-check textshadow">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group Submit">
                <input type="submit" value="Create" class="btn btn-primary Jimin" />
            </div>
           </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
