@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<from >
    <button onclick="location.href='@Url.Action("Index","Home")'">Flip</button>
</from>
<lable>The Coin side is @ViewBag.a</lable></br>

<lable>The Coin an other side is @ViewBag.b</lable>
