.Mytitle {
    text-shadow:  5px 6px 7px;
    
}

.MyStyle
{
    color:darkorchid;
}
.design
{
    color:hotpink;
}
.loginbutton {
    border-radius: 50%;
    border: none;
}

.registorbutton {
    border-radius: 50%;
    border: none;
}

.logoutbutton 
{
    border-radius: 50%;
     border:none;
}
.LoginStyles
{
    /*background: linear-gradient(180deg,#00BCD4,#be9797);*/
    max-width: 40%;
    padding-left: 7%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-top: 140px;
    margin-left: 400px;
    box-shadow: 2px 1px 4px 2px;
    border-radius: 10px;

}
.UserName 
{
    margin-right: 70px;
}
.Password 
{
    margin-right: 70px;
}
.Park {
    border-radius: 20%
}
.Submit {
    margin-left: 90px;
}

.Details {
    max-width: 40%;
    padding-left: 7%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-top: 140px;
    margin-left: 400px;
    box-shadow: 2px 1px 4px 2px;
    border-radius: 10px;
}
.Jimin 
{
    border-radius: 20%
}
.Info 
{
    margin-right: 70px;
    
}
.textshadow 
{
    text-shadow: 4px 5px 6px;
}
.header 
{
    text-shadow: 4px 5px 6px;
    color:blueviolet;
}
.create 
{
    text-shadow: 4px 5px 6px;
    
}
.MyDelete 
{
    text-shadow: 4px 5px 6px;
    
}
.warning {
    color:red;
    
}
.MyDetails {
    text-shadow: 4px 5px 6px;
}
.MyModify 
{
    text-shadow: 4px 5px 6px;
}


.imagedisplay {

   
    position: relative;
    text-align: center;
    color: white;
}
.entry {
    text-shadow: 5px 6px 7px;
}

