@model ContactManagerProject.Models.State

<style>
    .insertimg{
        display:none;
    }
</style>

@{
    ViewData["Title"] = "Create";
}

<h1 class="create"><i><u>Add States Details</u></i></h1>


<hr />
<div class="row">
    <div class="col-md-4 Details">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="Info">
                <div class="form-group textshadow">
                <label asp-for="Fkcountry.CountryName" class="control-label"></label>
                
                 <select asp-for="FkcountryId"  class="form-control" asp-items="ViewBag.FkcountryId"></select>
            </div>
            <div class="form-group textshadow">
                <label asp-for="StateName" class="control-label"></label>
                <input asp-for="StateName" placeholder="AP" class="form-control" />
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>
            <div class="form-group form-check textshadow">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group Submit">
                <input type="submit" value="Create" class="btn btn-primary Jimin" />
            </div>
           </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
