@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center box ">
   

   <div >
	  
	   <img src="~/css/wishes.jpg" class="section" usemap="#workmap"/>
	   @*<map name="workmap">
		   <area shape="poly" coords="479,247,394,337,557,336,421,427" onclick="audio"
	   </map>*@
		<div class="snow1"></div>
		<div class="snow2"></div>
		
	</div>
</div>


