@model ContactManagerProject.Models.AddressBook

<style>
    .insertimg {
        display: none;
    }
</style>

@{
    ViewData["Title"] = "Create";
}

<h1 class="create"><i><u>Add New AddressBook</u></i></h1>


<hr />
<div class="row">
    <div class="col-md-4 Details">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="Info">
                 <div class="form-group textshadow">
                <label asp-for="Fkstate.Fkcountry.CountryName" class="control-label"></label>
                <select asp-for="Fkstate.Fkcountry.CountryName" class="form-control" asp-items="ViewBag.FkcountryId"></select>
            </div>
                <div class="form-group textshadow">
                    <label asp-for="Fkstate.StateName" class="control-label"></label>
                    <select asp-for="Fkstate.StateName" class="form-control" asp-items="ViewBag.FkstateId"></select>
                </div>
                <div class="form-group textshadow">
                    <label asp-for="Fkuser.UserName" class="control-label"></label>
                    <select asp-for="Fkuser.UserName" class="form-control" asp-items="ViewBag.FkuserId"></select>
                </div>
                <div class="form-group textshadow">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" placeholder="Mark" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group textshadow">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" placeholder="Cherry" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group textshadow">
                    <label asp-for="EmailId" class="control-label"></label>
                    <input asp-for="EmailId" placeholder="Mark123@gmail.com" class="form-control" />
                    <span asp-validation-for="EmailId" class="text-danger"></span>
                </div>
                <div class="form-group textshadow">
                    <label asp-for="PhoneNo" class="control-label"></label>
                    <input asp-for="PhoneNo" placeholder="1546824596" class="form-control" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
                <div class="form-group textshadow">
                    <label asp-for="Address1" class="control-label"></label>
                    <input asp-for="Address1" placeholder="Address" class="form-control" />
                    <span asp-validation-for="Address1" class="text-danger"></span>
                </div>
                <div class="form-group textshadow">
                    <label asp-for="Address2" class="control-label"></label>
                    <input asp-for="Address2" placeholder="Address" class="form-control" />
                    <span asp-validation-for="Address2" class="text-danger"></span>
                </div>
                <div class="form-group textshadow">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" placeholder="Mark" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-group textshadow">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" placeholder="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group textshadow">
                    <label asp-for="ZipCode" class="control-label"></label>
                    <input asp-for="ZipCode" placeholder="1546" class="form-control" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group form-check textshadow">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
                <div class="form-group Submit">
                    <input type="submit" value="Create" class="btn btn-primary Jimin" />
                </div>
            </div>
        </form>
        @if (User.Identity.Name != "Anusha")
        {
            <div>
                <a asp-controller="Logins" asp-action="GetByUser">Back to List</a>
            </div>
        }
        else
        {
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        }
    </div>
</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
