@{
    ViewData["Title"] = "Home Page";
}
@*@model TossingOfACoin.Models.Fliping*@
<div class="text-center">
    <h1 class="display-4">Tossing</h1>
   
</div>

<form asp-action="Index">
    <button>Flip</button>
</form>

<label><b><h3>@ViewBag.A</h3></b>The Face of the coin on tossing is @ViewBag.A </label><br />
<label><b><h3>@ViewBag.B</h3></b> The Alternative side of the coin on tossing is @ViewBag.B </label>

@*@{
    foreach(var x in Model)
    {
        <label>x.upside</label>
        <label>x.downside</label>
    }
}*@
