html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
input{
    border:none;
    font-weight:bold;
}
form{
    box-shadow:0 0 10px #423f3f;
    width:500px;
    padding:5px;
    margin-left:300px
}