@{
    ViewData["Title"] = "Home Page";
}
@model FlipCoin.Models.Coin



<div>
    <form asp-action="Index">
        <h2>FlipCoin</h2>
        <label>Up Side:</label>
        <input  asp-for="Up" value="@Model.Up"/> <br />
        <label>Down Side:</label>
        <input  asp-for="Down" value="@Model.Down"/> <br />
        <label>The Total count is : @ViewBag.Count</label><br />
        <label>The Heads count is:@ViewBag.Headcount</label><br />
        <label>The Tails count is:@ViewBag.Tailcount</label><br />
        <input class="btn btn-warning" type="submit" value="Flip"/>
    </form>
    
</div>
